<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-xs-10 col-xs-offset-1">
            <img class="profile-pic center-block img-responsive" src="../assets/thumbnails/headshot.jpg" alt="Kevin Vankham"> 
        </div>
        <div class="blurb col-md-7">
            <h2>Hello! My name is Kevin, welcome to my website. </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                    <h4 style="font-weight: 400; line-height: 2;">I am a third year Landscape Architecture undergraduate at Cal Poly, San Luis Obispo. I am from San Diego, California and what I love most about my major is the ability to create and redesign spaces that are more functional than they previously were. Being able to bring in more users to a site where there was not much functionality to it, then having people utilize it to the full possible extents is something that I am very passionate about.<br><br>Throughout the website you can view my projects that I have worked on throughout my time at Cal Poly. Please feel free to contact me below if you have any further questions. Thank you for visiting!</h4>
                    <br>
                </div>
            </div>
        </div>
    </div>
    
</div>