<div class="jumbotron">
    <h1>WELCOME!</h1>
    <p>THANK YOU FOR VISITING MY WEBSITE</p>
</div>

<div style="padding-top: 6rem;" class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="hovereffect">
                <img src="../assets/thumbnails/kayak_launch_final.jpg" alt="wetland restoration kevin vankham project">
                <div class="overlay">
                   <h2><a class="info" ui-sref="wetland">WETLAND RESTORATION</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../assets/thumbnails/kevin_render_path.jpg" alt="memorial trail kevin project">
                <div class="overlay">
                   <h2><a class="info" ui-sref="pan_pacific">PAN PACIFIC PARK, LA</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../assets/thumbnails/memorial_trail.jpg" alt="">
                <div class="overlay">
                   <h2><a class="info" ui_sref="memorial_trail">MEMORIAL TRAIL DESIGN</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../assets/thumbnails/pershing_square.jpg" alt="">
                <div class="overlay">
                   <h2><a class="info" ui-sref="pershing_square">PERSHING SQAURE, LA</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../assets/thumbnails/parasitic_symbiotic.jpg" alt="">
                <div class="overlay">
                   <h2><a class="info" ui-sref="parasitic_symbiotic">PARASITIC | SYMBIOTIC</a></h2>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="hovereffect">
                <img class="img-responsive" src="../assets/thumbnails/other_works.jpg" alt="">
                <div class="overlay">
                   <h2><a class="info" ui-sref="other_works">OTHER WORKS</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>