<div class="container">
    <h1>PHOTOGRAPHY</h1>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_1778.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_2047.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_4811.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_5437.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_5595.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_4013.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_5001.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_5012.jpg" alt="wetland restoration kevin vankham project">
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="photography" src="../assets/thumbnails/IMG_9908.JPG" alt="wetland restoration kevin vankham project">
        </div>
        
    </div>
</div>