<div class="container">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                    <h1>WETLAND RESTORATION</h1>
                    
                    <h4 style="font-weight: 400; line-height: 2;">The Lower Walnut Creek Watershed in Contra Costa County was under former control of the Army Corps of Engineers. Scheduled to be dredged to prevent the channel from blocking up, the county was at a standstill due to habitat that had formed due to the sediment that was accumulated. This group project’s goal in The Natural Systems Studio was to restore the site to continue to provide for the now existing plant and animal community. With the use of GIS, we produced and gathered data to help us achieve this.<br><br></h4>
                    
                    <img style="width: 100%; height: auto;" src="https://s3.amazonaws.com/kevinwebsiteimages/images/kayak+launch_final.jpg">
                    <img style="width: 100%; height: auto;" src="https://s3.amazonaws.com/kevinwebsiteimages/images/wetland_prelim.jpg">
                    <img style="width: 100%; height: auto;" src="https://s3.amazonaws.com/kevinwebsiteimages/images/FINAL_MasterPlan__1.jpg">
                </div>
            </div>
        </div>
    </div> 
</div>